<app-secondary-header title="{{project.project_name}}" backText=""></app-secondary-header>

<ion-content class="ion-no-padding">
  <ion-grid fixed class="ion-no-padding">
    <ion-row>
        <ion-col>
            <ion-card class="ion-no-padding">
                <ion-card-header>
                    <ion-img src="https://www.urbidcr.com/img/project_images/{{project.project_image}}"></ion-img>
                    <ion-card-title>{{project.project_name}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                    <ion-progress-bar color="primary" value="{{project.project_collected_amount /project.project_cost}}"></ion-progress-bar><br/>
                    <ion-row>
                      <ion-col size="5"><strong>Código:</strong></ion-col>
                      <ion-col size="7">{{project.project_code}}</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="5"><strong>Comunidad:</strong></ion-col>
                      <ion-col size="7">Urbanización Itaipú</ion-col>
                    </ion-row>
                    <ion-row>
                      <ion-col size="5"><strong>Monto a recaudar:</strong></ion-col>
                      <ion-col size="7">{{project.project_cost | currency:"₡"}}</ion-col>
                    </ion-row>
                    <ion-row class="divider">
                      <ion-col size="5"><strong>Monto recaudado:</strong></ion-col>
                      <ion-col size="7">{{project.project_collected_amount | currency:"₡"}}</ion-col><br/>
                    </ion-row>
                    <ion-row>
                      <ion-col size="12"><strong>Descripción:</strong></ion-col>
                    </ion-row>
                    <p>
                        {{project.project_description}}
                    </p>
                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
