<app-secondary-header title="ubicación" backText=""></app-secondary-header>

<ion-content>
  <div id="map_canvas"></div>
</ion-content>
<ion-footer>
  <ion-button expand="full" routerLink="/result">Finalizar</ion-button>
</ion-footer>
