<app-secondary-header title="comunidad" backText=""></app-secondary-header>

<ion-content color="light">
  <ion-list>
    <ion-item detail="true" routerLink="/menu">Proyectos concretados</ion-item>
    <ion-item detail="true" routerLink="/menu">Donaciones</ion-item>
    <ion-item detail="true" routerLink="/organization-chart">Organigrama</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <ion-label><strong>Preguntas frecuentes</strong></ion-label>
    </ion-list-header>
    <ion-item  *ngFor="let q of questionList | async" lines="none">
      <ion-text color="dark">
        <h6>{{ q.question }}</h6>
        <small>{{ q.answer }}</small>
      </ion-text>
    </ion-item>
  </ion-list>
</ion-content>