<app-header title="" backText="regresar" backTextEnabled="true"></app-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <div id="container" class="ion-padding">
        <h5 style="margin-top: 18%;">Ingrese el código de verificación enviado al teléfono +506 {{data.client_phone}}</h5>
        <form [formGroup]="smsTokenForm" (ngSubmit)="submit()">
            <ion-row>
                <ion-col size="4">
                    <ion-item>
                        <ion-label>URBID-</ion-label>
                    </ion-item>
                </ion-col>
                <ion-col size="8">
                    <ion-item>
                        <ion-input type="text" formControlName="code" placeholder="000000"  mode="md"></ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-label color="danger">{{mensajeIntentos}}</ion-label>
              </ion-row>
            <ion-button expand="full" [disabled]="!smsTokenForm.valid" type="submit">Siguiente</ion-button>
        </form>
    </div>
</ion-content>
