<app-secondary-header title="Mi billetera" backText=""></app-secondary-header>

<ion-content color="light">
    <!-- <ion-list>
        <ion-item lines="none">
            <ion-label slot="start">Puntos acumulados</ion-label>
            <ion-label slot="end" position="fixed">UP 99999</ion-label>
        </ion-item>
    </ion-list> -->
    <ion-list>
        <ion-list-header>
          <strong>Métodos de pago</strong>
        </ion-list-header>
        <ion-item>
            <ion-icon slot="start" name="cash"></ion-icon>
            <ion-label>Efectivo</ion-label>
        </ion-item>
        <ion-item>
            <ion-icon slot="start" name="phone-portrait-outline">></ion-icon>
            <ion-label>Sinpe móvil</ion-label>
        </ion-item>
        <!-- <ion-item>
            <ion-icon slot="start" name="ribbon-outline"></ion-icon>
            <ion-label>Puntos URBID</ion-label>
        </ion-item> -->
      </ion-list>
      <ion-list>
        <ion-list-header>
          <ion-label><strong>Preguntas frecuentes</strong></ion-label>
        </ion-list-header>
        <ion-item  *ngFor="let q of questionList | async" lines="none">
          <ion-text color="dark">
            <h6>{{ q.question }}</h6>
            <small>{{ q.answer }}</small>
          </ion-text>
        </ion-item>
      </ion-list>
</ion-content>
