<app-secondary-header title="configuración" backText=""></app-secondary-header>

<ion-content color="light">
  <ion-list>
    <ion-item detail="true" routerLink="/profile">Mi perfil</ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <strong>Notificaciones (Push notifications)</strong>
    </ion-list-header>
    <ion-item>
      <ion-label>Productos nuevos</ion-label>
      <ion-toggle color="primary"></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Noticias y eventos comunitarios</ion-label>
      <ion-toggle checked color="primary"></ion-toggle>
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-list-header>
      <strong>Opciones de cuenta</strong>
    </ion-list-header>
    <ion-item detail="true" routerLink="/profile">Cerrar sesión</ion-item>
    <ion-item detail="true" routerLink="/profile">Eliminar cuenta</ion-item>
  </ion-list>
</ion-content>