<ion-header class="ion-no-border">
  <ion-toolbar class="ion-text-center">
    <ion-buttons slot="start">
      <ion-back-button *ngIf="backTextEnabled" defaultHref="/" text="{{backText}}" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-capitalize">{{title}}</ion-title>
    <ion-buttons slot="end">
      <ion-button *ngIf="message" routerLink="/cart">
        <ion-badge style="position: absolute;" color="success">{{this.localDataService.cart.length}}</ion-badge>
        <ion-icon slot="icon-only" name="cart" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="start" *ngIf="menuToggleEnabled">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>