
ion-content{
    display: flex;
    flex-flow: column;
}
ion-icon{
    font-size:2.5rem;
    background-color: #10ad9e;
    border-radius: 100%;
    padding:4%;
    color:#ffffff;
}
ion-col{
    p{
        padding-bottom: 5%;
    }
}

/* .background-color-1{
    background-color: #00897b;
}

.background-color-2{
    background-color: #3dc2ff;
}


.background-color-3{
    background-color: #ffc409;
}

.background-color-4{
    background-color: #eb445a;
}

.background-color-5{
    background-color: #5260ff;
}

.background-color-6{
    background-color: #2dd36f;
} */