<app-header title="menú principal" backText="regresar" message="true" menuToggleEnabled="true"></app-header>

<ion-content [fullscreen]="true" fixed>
    <div id="container" class="ion-padding">
        <ion-searchbar mode="ios" placeholder="Buscar producto.."></ion-searchbar>
        <ion-grid fixed>
            <ion-row justify-content-center>
                <ion-col size="6"  class="ion-text-center" *ngFor="let link of linkList | async" [routerLink]="link.redirectTo">
                    <ion-icon [name]="link.icon" ></ion-icon>
                    <p class="ion-no-padding ion-no-margin">{{link.name}}</p>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <ion-footer class="ion-no-border">
        <ion-slides class="ion-padding" pager="true" [options]="optionSlide">
            <ion-slide class="ion-no-padding ion-no-margin" >
                <ion-card-header class="ion-text-left">
                    <ion-card-subtitle>Recolecta de alimentos</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-text-left">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur cupiditate a et quia suscipit rem magni recusandae, odit
                </ion-card-content>
            </ion-slide>
            <ion-slide class="ion-no-padding ion-no-margin" >
                <ion-card-header class="ion-text-left">
                    <ion-card-subtitle>Actividad comunitario</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-text-left">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur cupiditate a et quia suscipit rem magni recusandae, odit
                </ion-card-content>
            </ion-slide>
            <ion-slide class="ion-no-padding ion-no-margin" >
                <ion-card-header class="ion-text-left">
                    <ion-card-subtitle>Inversión municipalidad</ion-card-subtitle>
                </ion-card-header>
                <ion-card-content class="ion-text-left">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tenetur cupiditate a et quia suscipit rem magni recusandae, odit
                </ion-card-content>
            </ion-slide>
        </ion-slides>
    </ion-footer>
</ion-content>
