<app-secondary-header title="perfil" backText=""></app-secondary-header>

<ion-content>
  <ion-item>
    <ion-thumbnail slot="start" detail="true">
      <img src="/assets/undefined.jpg" id="avatar">
      <ion-badge style="position: absolute;top: -0.2rem;left: 0.8rem;opacity: 0.9;">Cambiar</ion-badge>
    </ion-thumbnail>
    <ion-label (click)="change('N','Nombre')">{{localDataService.user.client_name}} {{localDataService.user.client_lastName}} </ion-label>
    <ion-icon (click)="change('N','Nombre')" name="pencil" slot="end"></ion-icon>
  </ion-item>
  <ion-item detail="true" (click)="change('P','Número de teléfono')">
    <ion-label>Teléfono: (+506) {{localDataService.user.client_phone}}</ion-label>
  </ion-item>
  <ion-item detail="true" (click)="change('E','Correo electrónico')">
    <ion-label>Correo eletrónico: {{localDataService.user.email}}</ion-label>
  </ion-item>
</ion-content>
