<app-secondary-header title="Recibo" backText=""></app-secondary-header>

<ion-content class="ion-padding">
  <ion-grid class="divider">
    <ion-row class="divider">
      <ion-col size="2"><b>Cant.</b></ion-col>
      <ion-col size="6"><b>Nombre producto</b></ion-col>
      <ion-col size="4"><b>Total</b></ion-col>
    </ion-row>
    <ion-row *ngFor="let product of receipt.productos">
      <ion-col size="2">{{product.product_quantity}}</ion-col>
      <ion-col size="6">{{product.product_name}}</ion-col>
      <ion-col size="4">{{product.monto | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row class="divider"></ion-row>
    <ion-row>
      <ion-col size="2"></ion-col>
      <ion-col size="6" class="ion-text-right">Costo de envío:</ion-col>
      <ion-col size="4" class="ion-text-left">{{receipt.costoEnvio | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="6" class="ion-text-right">Aporte comunitario:</ion-col>
        <ion-col size="4" class="ion-text-left">{{receipt.montoAporteTotal | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col size="2"></ion-col>
        <ion-col size="6" class="ion-text-right">Monto total:</ion-col>
        <ion-col size="4" class="ion-text-left">{{receipt.montoTotal | currency:"₡"}}</ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
      <ion-label>
        <strong>Seleccione forma de pago</strong>
      </ion-label>
    </ion-list-header>
    <ion-item>
      <ion-label>Forma de pago</ion-label>
      <ion-select value="EF" [(ngModel)]="paymentType" (click)="setAnotherAmount(false)">
        <ion-select-option value="EF">Efectivo</ion-select-option>
        <ion-select-option value="SM">Sinpe móvil</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-list *ngIf="paymentType === 'EF'">
    <ion-radio-group value="MC" mode="md">
      <ion-list-header>
        <ion-label>¿Con cuanto deseas pagar?</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Monto completo</ion-label>
        <ion-radio slot="start" value="MC" (click)="setAnotherAmount(false)"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Otro monto</ion-label>
        <ion-radio slot="start" value="OM" (click)="setAnotherAmount(true)"></ion-radio>
      </ion-item>
    </ion-radio-group>
  </ion-list>
  <ion-list  *ngIf="paymentType === 'SM'" class="ion-padding">
    <ion-row>
        <ion-label>
          Realizar el depósito a la cuenta Sinpe móvil <strong>84520006</strong> y 
          agregar en la descripción el nombre completo del propietario de la cuenta
        </ion-label>
    </ion-row>
  </ion-list>
  <ion-list>
    <ion-item *ngIf="isAnotherAmount">
      <ion-label>Ingrese el monto:</ion-label>
    <ion-input type="number" [(ngModel)]="anotherAmount" placeholder="Ingrese el monto"></ion-input>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-button expand="full" routerLink="/location">Siguiente</ion-button>
</ion-footer>
