<ion-header class="ion-no-border">
    <ion-toolbar>
        <ion-buttons slot="end"> 
            <ion-button (click)="close()" style="--color:#00897b">
                <strong class="close">Cerrar</strong>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <ion-grid fixed class="ion-no-padding">
        <ion-row>
            <ion-col>
                <ion-card class="ion-no-padding">
                    <ion-card-header>
                        <ion-img src="https://www.urbidcr.com/img/product_images/{{product.product_image}}"></ion-img>
                        <ion-card-title>{{product.product_name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-row>
                          <ion-col><strong>Código:</strong></ion-col>
                          <ion-col>{{product.product_code}}</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col ><strong>Precio x unidad:</strong></ion-col>
                          <ion-col>{{product.product_cost | currency:"₡"}}</ion-col>
                        </ion-row>
                        <ion-row>
                          <ion-col ><strong>Aporte comunitario:</strong></ion-col>
                          <ion-col >{{product.product_com_profit | currency:"₡"}}</ion-col>
                        </ion-row>
                        <ion-row class="divider">
                          <ion-col ><strong>Hecho en:</strong></ion-col>
                          <ion-col >{{product.made_in}}</ion-col><br/>
                        </ion-row>
                        <ion-row>
                          <ion-col size="12"><strong>Observaciones:</strong></ion-col>
                        </ion-row>
                        <p>
                            {{product.product_description}}
                        </p>
                        <ion-row>
                            <ion-col>
                                <ion-button *ngIf="!localDataService.inCart(localDataService.user.id,product.product_code)" (click)="localDataService.saveToCart(localDataService.user.id,product.product_code,1)" expand="full" color="success">Comprar</ion-button>
                                <ion-button *ngIf="localDataService.inCart(localDataService.user.id,product.product_code)" disabled="true" expand="full" color="success">Agregado al carrito</ion-button>
                            </ion-col>
                            <ion-col>
                                <ion-button *ngIf="!localDataService.isFavourite(localDataService.user.id,product.product_code)" color="danger" (click)="localDataService.saveToFavourites(localDataService.user.id,product)" expand="full">Agregar favorito</ion-button>
                                <ion-button *ngIf="localDataService.isFavourite(localDataService.user.id,product.product_code)" disabled="true" expand="full" color="danger">Agregado a favoritos</ion-button>
                            </ion-col>
                        </ion-row>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>
