<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" text="" color="primary"></ion-back-button>
    </ion-buttons>
    <ion-title  class="ion-text-capitalize">registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container" class="ion-padding">
    <ion-list>
        <ion-item>
          <ion-label position="stacked">Nombre</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Apellido</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Fecha de nacimiento</ion-label>
          <ion-datetime displayFormat="MM/DD/YYYY" value="2012-12-15T13:47:20.789"></ion-datetime>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Correo eléctronico</ion-label>
          <ion-input></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Teléfono</ion-label>
          <ion-input disabled>+506 84520006</ion-input>
        </ion-item>
    </ion-list>
    <ion-button expand="full" routerLink="/menu">Registrarse</ion-button>
  </div>

</ion-content>
