#container {
    position: absolute;
    align-items: center;
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(-10%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }

  h4{
      color:#00897b;
  }

  ion-item-divider{
      border-color:#00897b;
  }
  