<ion-menu side="start" menuId="mainMenu" contentId="main">
  <ion-header color="primary">
    <ion-toolbar color="primary">
      <ion-item color="primary" lines="none" class="ion-justify-content-center">
        <ion-avatar>
          <img src="/assets/undefined.jpg"/>
        </ion-avatar>
        <ion-label class="ion-padding" *ngIf="localDataService.user.client_name !== undefined"><strong>{{localDataService.user.client_name}} {{localDataService.user.client_lastName}}</strong></ion-label>
      </ion-item>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-no-padding">
    <ion-list>
      <ion-menu-toggle>
        <ion-item *ngFor="let link of linkList | async" [routerLink]="link.redirectTo">
          <ion-icon slot="start" [name]="link.icon"></ion-icon>
          <ion-label>{{link.name}}</ion-label>
        </ion-item>
      </ion-menu-toggle>
    </ion-list>
  </ion-content>
</ion-menu>