<app-secondary-header title="Proyectos comunitarios" backText=""></app-secondary-header>

<ion-content>
    <ion-grid fixed>
        <ion-row>
            <ion-col *ngFor="let project of projects">
                <ion-card>
                    <ion-card-header>
                        <ion-card-subtitle>Urbanización Itaipú</ion-card-subtitle>
                        <ion-img (click)="detail(project)" src="https://www.urbidcr.com/img/project_images/{{project.project_image}}"></ion-img>
                        <ion-card-title (click)="detail(project)">{{project.project_name}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-progress-bar color="primary" value="{{project.project_collected_amount /project.project_cost}}"></ion-progress-bar><br/>
                        <p>
                            {{project.project_description}}
                        </p>
                        <ion-button expand="full" *ngIf="!project.affiliated" (click)="enroll(project)">Afiliarme</ion-button>
                        <ion-button expand="full" *ngIf="project.affiliated" color="danger" (click)="unsubscribe(project)">Desafiliarme</ion-button>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
