ion-content{
    display: flex;
    flex-flow: column;
}
ion-img{
    font-size:2.5rem;
    background-color: #10ad9e;
    border-radius: 100%;
    padding:4%;
    color:#ffffff;
}
ion-col{
    p{
        padding-bottom: 5%;
    }
}