<app-secondary-header title="Organigrama" backText=""></app-secondary-header>

<ion-content>
  <ion-item>
    <ion-label>Comunidad</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Itaipú</ion-select-option>
      <ion-select-option value="m">Cauca</ion-select-option>
    </ion-select>
  </ion-item>
  <div id="container" class="ion-padding">
    <ion-grid fixed>
      <ion-row justify-content-center>
          <ion-col size="6"  class="ion-text-center" *ngFor="let link of [1,1,1,1]">
              <ion-img src="/assets/logo.png"></ion-img>
              <p class="ion-no-padding ion-no-margin">Presidente</p>
          </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
