<app-secondary-header title="favoritos" backText=""></app-secondary-header>

<ion-content>
    <ion-list>
      <ion-item-sliding #itemSliding *ngFor="let product of localDataService.favourites">
        <ion-item #item>
          <ion-grid fixed>
            <ion-row>
              <ion-col size="3">
                <ion-thumbnail>
                  <img src="https://www.urbidcr.com/img/product_images/{{product.producto.product_image}}"/>
                </ion-thumbnail>
              </ion-col>
              <ion-col size="9">
                <ion-label>
                  <h3>{{product.producto.product_name}}</h3>
                  <p>{{product.producto.product_description}}</p>
                </ion-label>
                <ion-label>
                  {{product.producto.product_cost | currency:"₡"}}
                </ion-label>
              </ion-col>
            </ion-row>
            </ion-grid>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="success" (click)="localDataService.saveToCart(localDataService.user.id,product.producto.product_code,1)"><ion-icon slot="icon-only" name="cart"></ion-icon></ion-item-option>
          <ion-item-option color="danger" (click)="localDataService.deleteProductInsideFavourite(localDataService.user.id,product.producto.product_code)"><ion-icon slot="icon-only" name="trash"></ion-icon></ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
    <ion-slides [options]="slideOpts" *ngIf="localDataService.favourites.length === 0">
      <ion-slide>
        <ion-card color="danger" outline>
          <ion-card-content>
            <ion-icon name="alert-circle"></ion-icon> No has agregado ningún producto
          </ion-card-content>
        </ion-card>
      </ion-slide>
    </ion-slides>
</ion-content>