<app-secondary-header title="categorias" backText=""></app-secondary-header>
<ion-segment scrollable mode="md" color="primary">
  <ion-segment-button mode="md" *ngFor="let category of categoryList" [value]="category" (click)="getSubcategories(category.category_code)">
    <ion-label class="ion-text-capitalize ion-text-wrap">{{category.category_name}}</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-segment scrollable mode="md" color="primary" *ngIf="subcategoryList">
  <ion-segment-button mode="md" *ngFor="let subcategory of subcategoryList" [value]="subcategory" (click)="getProducts(subcategory.subcategory_code)">
    <ion-label class="ion-text-capitalize ion-text-wrap">{{subcategory.subcategory_name}}</ion-label>
  </ion-segment-button>
</ion-segment>
<ion-searchbar mode="ios" #keyWord (change)="searchProducts(keyWord)" placeholder="Buscar producto.."></ion-searchbar>
<ion-content color="light">
  <div id="container" class="ion-no-padding">
    <ion-grid>
      <ion-row>
        <ion-col size="6" class="ion-text-center ion-no-padding" *ngFor="let product of productList">
          <ion-card class="ion-no-padding ion-no-margin">
            <ion-card-header>
              <ion-img class="ion-no-padding" (click)="presentModal(product)" src="https://www.urbidcr.com/img/product_images/{{product.product_image}}"></ion-img>
            </ion-card-header>
            <ion-card-content class="ion-no-padding">
              <ion-row>
                <ion-col size="12" class="ion-text-center" (click)="presentModal(product)">
                  <strong>{{product.product_name}}</strong>
                </ion-col>
                <ion-col size="8" class="ion-text-center amount">
                  {{product.product_cost | currency:"₡"}}
                </ion-col>
                <ion-col size="4" class="ion-text-left">
                  <ion-icon *ngIf="!localDataService.isFavourite(localDataService.user.id,product.product_code)" (click)="localDataService.saveToFavourites(localDataService.user.id,product)" name="heart-outline" class="favourite"></ion-icon>
                  <ion-icon *ngIf="localDataService.isFavourite(localDataService.user.id,product.product_code)" (click)="localDataService.deleteProductInsideFavourite(localDataService.user.id,product.product_code)" name="heart" color="danger" class="favourite"></ion-icon>
                </ion-col>
                <ion-col size="12">
                  <ion-button *ngIf="!localDataService.inCart(localDataService.user.id,product.product_code)" (click)="localDataService.saveToCart(localDataService.user.id,product.product_code,1)" expand="full" color="success">Comprar</ion-button>
                  <ion-button *ngIf="localDataService.inCart(localDataService.user.id,product.product_code)" disabled="true" expand="full" color="success">Agregado</ion-button>
                </ion-col>
              </ion-row>
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>