ion-card-header{
    border-bottom: 2px var(--ion-color-light) solid;
}

.amount{
    font-size: medium;
    color:var(--ion-color-primary);
}

.favourite{
    font-size:1.5rem;
}

ion-segment-button{
    background-color: #ffffff !important;
}

.ion-segment-checked{
    color:var(--ion-color-primary);
}

ion-content{
    display: flex;
    flex-flow: column;
}


h5{
    padding:0 !important;
    margin:0 !important;
}


.detail-button{
        --background:#10ad9e;
        --color:white;
}

.head{
    position:absolute;
    float: left !important;
    background-color: transparent !important;
}

/* .favourite{
    float: left !important;
    font-size:1.5rem;
    color:red;
    padding-left:1%;
} */

img{
    position:relative;
}
