<app-secondary-header title="detalle compra" backText=""></app-secondary-header>


<ion-content class="ion-padding">
  <ion-grid>
      <ion-row>
          <ion-col>Codigo:</ion-col>
          <ion-col>22555</ion-col>
        </ion-row>
    <ion-row>
      <ion-col>Fecha creación:</ion-col>
      <ion-col displayFormat="MM/DD/YYYY">22/10/2020</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>Estado:</ion-col>
        <ion-col>Pendiente de pago</ion-col>
      </ion-row>
      <ion-row>
          <ion-col>Forma pago:</ion-col>
          <ion-col>Efectivo</ion-col>
        </ion-row>
    <ion-row>
      <ion-col>Repartidor:</ion-col>
      <ion-col>Geison Urbina Valverde</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Monto envío:</ion-col>
      <ion-col>{{250 | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row>
        <ion-col>Monto compra:</ion-col>
        <ion-col>{{2250 | currency:"₡"}}</ion-col>
    </ion-row>
    <ion-row class="divider">
        <ion-col><b>Monto total:</b></ion-col>
        <ion-col>{{2500 | currency:"₡"}}</ion-col>
    </ion-row>
  </ion-grid>
  <h6>
    Lista de productos comprados
  </h6>
</ion-content>
<ion-footer no-border>
  <ion-button expand="full" color="danger">
    Cancelar compra
  </ion-button>
</ion-footer>
