<app-secondary-header title="mis pedidos" backText=""></app-secondary-header>


<ion-content class="ion-no-padding">
  <ion-card *ngFor="let order of [1]">
    <ion-grid>
      <ion-row>
        <ion-col size="6"><b>Nº pedido:</b></ion-col>
        <ion-col size="4">2445</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><b>Monto total:</b></ion-col>
        <ion-col size="3">{{1500  | currency:"₡"}}</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><b>Estado:</b></ion-col>
        <ion-col size="6">Pendiente de pago</ion-col>
      </ion-row>
      <ion-row>
        <ion-col size="6"><b>Forma pago:</b></ion-col>
        <ion-col size="6">Efectivo</ion-col>
      </ion-row>
      <ion-row class="ion-justify-content-center">
        <ion-button (click)="detail(order)">
          <ion-label>Ver detalle</ion-label>
        </ion-button>
      </ion-row>
    </ion-grid>
  </ion-card>

  <ion-card color="danger" outline>
    <ion-card-content>
      <ion-icon name="alert-circle"></ion-icon> No has realizado ningún pedido
    </ion-card-content>
  </ion-card>

</ion-content>
