<app-secondary-header title="modificar" backText=""></app-secondary-header>

<ion-content>
  <form [formGroup]="configurationForm" (ngSubmit)="modify(configurationForm.value)">
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-item lines="none">
            <h5 no-margin><b>{{title}}</b></h5>
          </ion-item>
          <ion-item no-lines *ngIf="type == 'N'">
            <ion-input type="text"  class="valor" formControlName="name" value="{{localDataService.user.client_name}}"></ion-input>
          </ion-item>
          <ion-item lines="none" *ngIf="type == 'N'">
            <h5 no-margin><b>Apellido</b></h5>
          </ion-item>
          <ion-item no-lines *ngIf="type == 'N'">
            <ion-input type="text"  class="valor" formControlName="lastName" value="{{localDataService.user.client_lastName}}"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="type == 'P'">
                  <ion-input type="text"  class="valor" formControlName="phone" value="{{localDataService.user.client_phone}}"></ion-input>
          </ion-item>
          <ion-item no-lines *ngIf="type == 'E'">
                  <ion-input type="text"  class="valor" formControlName="email" value="{{localDataService.user.email}}"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
      <ion-button expand="full" type="submit" [disabled]="!configurationForm.valid">Modificar</ion-button>
    </ion-grid>
  </form>

</ion-content>
