#container {
    position: absolute;
    align-items: center;
    left: 0;
    right: 0;
    top: 10%;
    transform: translateY(10%);
  }

ion-icon{
    zoom:7.0;
}

ion-button{
    --background:#ffffff !important;
    --color:var(--ion-color-primary) !important;
}

ion-footer{
    background-color: var(--ion-color-primary) !important;;
}
