<ion-content [fullscreen]="true" class="ion-padding" color="primary">
  <div id="container" class="ion-padding ion-text-center">
    <ion-icon name="checkmark-circle"></ion-icon><br/>
    <h5>
      Su pedido se ha realizado correctamente.
      <br/>
      Por favor verifique el estado de la compra en la página Mis pedidos
    </h5>
  </div>
</ion-content>
<ion-footer>
  <ion-button expand="full" routerLink="/menu">Continuar comprando</ion-button>
</ion-footer>
