ion-slides,ion-slide{
    width:100%;
    height:100%;
}
.title{
    color:#808289;
}

.top-bottom-space{
    padding-top: 5%;
}

.counter-container{
    display: flex;
    width:70%;
    padding-top:3%;
    padding-bottom:3%;
    border: 1px solid gainsboro;
    border-radius: 5px;
}

.counter, .quantity{
    padding:2%;
    width:33%;
    text-align: center;
}

.delete{
    padding-top:2%;
    display: flex;
}

