<app-secondary-header title="carrito de compras" backText=""></app-secondary-header>

<ion-content  class="ion-no-padding">
  <ion-list class="ion-no-padding ion-no-margin">
    <ion-item  *ngFor="let product of productList" lines="none" class="ion-no-padding top-bottom-space">
      <ion-grid class="ion-no-padding">
        <ion-row class="ion-no-padding">
          <ion-col size="2" class="ion-align-self-start">
            <img src="https://www.urbidcr.com/img/product_images/{{product.product_image}}"/>
          </ion-col>
          <ion-col size="6">
            <ion-grid fixed >
              <ion-row class="ion-no-padding">
                <ion-col size="12" class="ion-align-self-start">
                  <h5 class="title ion-no-margin ion-no-padding">{{product.product_name}}</h5>
                </ion-col>
                <ion-col size="12" class="ion-align-self-start">
                  <small>{{product.product_description}}</small>
                </ion-col>
                <ion-col size="6">
                  <ion-label>
                    {{product.product_cost | currency:"₡"}}
                  </ion-label>
              </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
          <ion-col size="4" class="ion-text-right">
            <ion-icon name="close" (click)="deleteProduct(localDataService.user.id,product.product_code)"></ion-icon>
            <ion-col size="6" class="ion-align-self-end">
              <div class="counter-container">
                <div class="counter">
                  <ion-label (click)="subtract(product.product_code)"><ion-icon name="remove"></ion-icon></ion-label>
                </div>
                <div class="quantity">
                  <ion-label color="primary">{{product.product_quantity}}</ion-label>
                </div>
                <div class="counter">
                  <ion-label (click)="add(product.product_code)"><ion-icon name="add"></ion-icon></ion-label>
                </div>
              </div>
            </ion-col>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
  </ion-list>
  <ion-slides [options]="slideOpts" *ngIf="localDataService.cart.length === 0">
    <ion-slide>
      <ion-card color="danger" outline>
        <ion-card-content>
          <ion-icon name="alert-circle"></ion-icon> No has agregado ningún producto
        </ion-card-content>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
<ion-footer>
  <ion-button expand="full" [disabled]="localDataService.cart.length === 0" routerLink="/receipt">Siguiente</ion-button>
</ion-footer>
