#container {
  position: absolute;
  align-items: center;
  left: 0;
  right: 0;
  top: 10%;
  transform: translateY(-10%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content ion-toolbar {
  --background: translucent;
}

.ion-padding-text-start-small{
  padding-left: 3%;
}

.ion-margin-text-start-medium{
  margin-left: 10%;
}



.logo{
  width: 45%;
  height: 100%;
  margin: auto;
  display: block;
}

ion-item-divider{
  align-items: center;
}

ion-checkbox{
  --border-radius:100%;
}

