<ion-content [fullscreen]="true" class="ion-padding">
  <div id="container" class="ion-padding">
    <ion-img src="/assets/logo.png" class="logo"></ion-img>
    <h4 style="margin-top: 18%;">¿Cuál es tu número de teléfono?</h4>
    <ion-item>
      <ion-label class="ion-no-margin" style="background-color:#e4e5e8;padding:1%;">+506</ion-label>
      <ion-input type="number" [value]="phoneNumber" placeholder="Ingrese tu número de teléfono"></ion-input>
    </ion-item>
    <ion-item class="ion-no-border" lines="none"> 
      <ion-checkbox color="primary" checked></ion-checkbox>
      <small class="ion-padding-text-start-small">Acepta los <a href="https://www.google.com">Términos y Condiciones</a></small>
    </ion-item>
    <ion-button expand="full" (click)="getLogin(phoneNumber,'T')" >Siguiente</ion-button>
    <ion-row style="margin-top: 12%;">
      <ion-col class="ion-padding-bottom" size="2">
        <ion-item-divider></ion-item-divider>
      </ion-col>
      <ion-col class="ion-padding-top ion-text-center"  size="8">
        <p>Registrarse con otra cuenta</p>
      </ion-col>
      <ion-col class="ion-padding-bottom" size="2">
        <ion-item-divider></ion-item-divider>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center ion-no-border">
      <ion-col size="6" class="ion-justify-content-center">
        <ion-item lines="none">
          <ion-avatar>
            <img src="/assets/facebook.png"/>
          </ion-avatar>
          <ion-label class="ion-text-center">Facebook</ion-label>
        </ion-item>
      </ion-col>
      <ion-col size="6">
        <ion-item lines="none" class="ion-justify-content-center">
          <ion-avatar>
            <img src="/assets/google.jpg"/>
          </ion-avatar>
          <ion-label class="ion-padding-text-start-small"> Google</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
